---
import Timer from '../components/Timer.vue';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Simple Pomodoro Timer">
	<main>
		<div class="min-h-screen w-full">
			<Timer client:load></Timer>
		</div>
	</main>
</Layout>
